<div id="logreg-forms">
	<p class="mb-0 pt-3 px-3 text-right">
		Hi {{currentUser.firstName}}! <b class="cursor-pointer" (click)="logout()">(logout)</b>
	</p>
	<div class="row">
		<div class="col-12">
			<div class="col-12">
				<button class="btn btn-info"
				type="button" routerLink="/addemployee">
					<i class="fas fa-sign-in-alt"></i> Add Employee
				</button>
			</div>
		</div>
		<hr>
		<div class="col-12">
			<div class="p-3">
				<h1 class="h3 mb-3 font-weight-normal text-center">Data Employee</h1>

				<div class="table-responsive">
					<mat-form-field class="w-100">
					  	<mat-label>Filter</mat-label>
					  	<input matInput (keyup)="applyFilter($event)" placeholder="">
					</mat-form-field>

					<table mat-table [dataSource]="dataSource" class="w-100"
					>
					 
					  	<ng-container matColumnDef="id">
					    	<th mat-header-cell *matHeaderCellDef> No. </th>
					    	<td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
					  	</ng-container>

					  
					  	<ng-container matColumnDef="fullName">
					    	<th mat-header-cell *matHeaderCellDef> FullName </th>
					    	<td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
					  	</ng-container>

					  	
					  	<ng-container matColumnDef="birthDate">
					    	<th mat-header-cell *matHeaderCellDef> Birthdate </th>
					    	<td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
					  	</ng-container>

					  
					  	<ng-container matColumnDef="basicSalary">
					    	<th mat-header-cell *matHeaderCellDef> Basic Salary </th>
					    	<td mat-cell *matCellDef="let element"> {{element.basicSalary}} </td>
					  	</ng-container>

					 
					  	<ng-container matColumnDef="group">
					    	<th mat-header-cell *matHeaderCellDef> Group </th>
					    	<td mat-cell *matCellDef="let element"> {{element.group}} </td>
					  	</ng-container>

					  	<ng-container matColumnDef="details">
					    	<th mat-header-cell *matHeaderCellDef class="text-center"> Details </th>
					    	<td mat-cell *matCellDef="let element" class="text-center">
						    	<button class="btn btn-primary" (click)="detailsEmployee(element.id)">
	            					<mat-icon class="mat-18">details</mat-icon>
	            				</button>
						    </td>
						 </ng-container>

						<ng-container matColumnDef="update">
						    <th mat-header-cell *matHeaderCellDef class="text-center"> Update </th>
						    <td mat-cell *matCellDef="let element" class="text-center">
						    	<button class="btn btn-warning" (click)="updateEmployee(element.id)">
	            					<mat-icon class="mat-18">system_update</mat-icon>
	            				</button>
						    </td>
						</ng-container>

						<ng-container matColumnDef="delete">
						    <th mat-header-cell *matHeaderCellDef class="text-center"> Delete </th>
						    <td mat-cell *matCellDef="let element" class="text-center">
								<button class="btn btn-danger" (click)="deleteEmployee(element.id)">
	            					<mat-icon class="mat-18">delete_forever</mat-icon>
	            				</button>
						    </td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
					<ng-container *ngIf="dataSource.data.length === 0">
					    <p class="mb-0 mt-0 pt-3 pb-3 text-center bg-white">
					    	No Data
					    </p>
					</ng-container>
					<mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="[5]" showFirstLastButtons></mat-paginator>
				</div>

			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>