<div id="logreg-forms">
	<p class="mb-0 pt-3 px-3 text-right">
		Hi {{currentUser.firstName}}! <b class="cursor-pointer" (click)="logout()">(logout)</b>
	</p>
	<div class="row">
		<div class="col-12">
			<form class="form-employee" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
				<h1 class="h3 mb-3 font-weight-normal text-center">Add Employee</h1>
				<p>Silahkan isi data dibawah ini!</p>
				<div class="row">
					<div class="align-self-center col-md-4 col-12 d-flex mb-3">
						FullName
					</div>
					<div class="col-md-8 col-12 mb-3">
						<mat-form-field class="w-100">
							<input type="text" formControlName="fullName" matInput placeholder="Enter FullName"
								required [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
							<div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
								<div *ngIf="f.fullName.errors.required">FullName is required</div>
							</div>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="align-self-center col-md-4 col-12 d-flex mb-3">
						Birthdate
					</div>
					<div class="col-md-8 col-12 mb-3">
						<mat-form-field class="w-100">
						  	<mat-label>Choose a date</mat-label>
						  	<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="birthDate" required [ngClass]="{ 'is-invalid': submitted && f.birthDate.errors }">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
							<div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
								<div *ngIf="f.birthDate.errors.required">Email is required</div>
								<div *ngIf="f.birthDate.errors.pattern">Email not valid.</div>
							</div>
						</mat-form-field>
					</div>

				</div>
				<div class="row">
					<div class="align-self-center col-md-4 col-12 d-flex mb-3">
						Email
					</div>
					<div class="col-md-8 col-12 mb-3">
						<mat-form-field class="w-100">
							<input matInput type="email" formControlName="email" placeholder="email@email.com"
								required [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
							<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
								<div *ngIf="f.email.errors.required">Email is required</div>
								<div *ngIf="f.email.errors.pattern">Email not valid.</div>
							</div>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="align-self-center col-md-4 col-12 d-flex mb-3">
						Basic Salary
					</div>
					<div class="col-md-8 col-12 mb-3">
						<mat-form-field class="w-100">
							<input matInput type="number" formControlName="basicSalary" placeholder="Enter numbers"
								required [ngClass]="{ 'is-invalid': submitted && f.basicSalary.errors }">
							<div *ngIf="submitted && f.basicSalary.errors" class="invalid-feedback">
								<div *ngIf="f.basicSalary.errors.required">Basic Salary is required</div>
							</div>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="align-self-center col-md-4 col-12 d-flex mb-3">
						Group
					</div>
					<div class="col-md-8 col-12 mb-3">
						<mat-form-field class="w-100">
						    <input matInput formControlName="myGroupControl" [formControl]='myGroup' type="text" placeholder="Choose a group" [matAutocomplete]="auto" [ngClass]="{ 'is-invalid': submitted && f.myGroupControl.errors }" required aria-label="Number">
						    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
						      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
						        {{option}}
						      </mat-option>
						    </mat-autocomplete>
						  </mat-form-field>
						<div *ngIf="submitted && f.myGroupControl.errors" class="invalid-feedback">
							<div *ngIf="f.myGroupControl.errors.required">Group is required</div> 
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-end">
					<button routerLink="/employee" class="btn btn-secondary mr-2 mt-2">
						<i class="fas fa-sign-in-alt"></i> Cancel
					</button>
					<button [disabled]="loading" routerLink="/addemployee" class="btn btn-primary mt-2" type="submit">
						<i class="fas fa-sign-in-alt"></i> Save Employee
					</button>
					<div class="align-self-center" *ngIf="loading">
						<img
							src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<app-footer></app-footer>