/*------------------------------------------------*/
/*Include*/
/*------------------------------------------------*/
/* Variable */
/* Component */
p {
  font-size: 14px;
  color: #333333; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
